<?php Block::put('breadcrumb') ?>
    <ul>
        <li><?= e(trans($this->pageTitle)) ?></li>
        <li>
            <span class="text-info"><strong><?= Indikator\Content\Models\Slideshow::where('status', 1)->count() ?></strong> <?= e(trans('indikator.content::lang.form.status_active')) ?></span>
            &nbsp; | &nbsp;
            <span class="text-danger"><strong><?= Indikator\Content\Models\Slideshow::where('status', 2)->count() ?></strong> <?= e(trans('indikator.content::lang.form.status_inactive')) ?></span>
        </li>
    </ul>
<?php Block::endPut() ?>

<?= $this->listRender() ?>
