.statboard .statbox {
    background: #fff;
    -webkit-box-shadow: 3px 3px 11px 0 rgba(217, 217, 217, 1);
       -moz-box-shadow: 3px 3px 11px 0 rgba(217, 217, 217, 1);
            box-shadow: 3px 3px 11px 0 rgba(217, 217, 217, 1);
    margin: 10px 0 20px 0;
    padding: 5px 20px 15px 20px;
}

.statboard h4 {
    border-bottom: 1px solid #cae1e2;
    margin: 25px 0;
    padding-bottom: 5px;
}

.morris-hover {
    position: absolute;
    z-index: 1000
}

.morris-hover.morris-default-style {
    background: rgba(255,255,255,0.8);
    border: solid 2px rgba(230,230,230,0.8);
    border-radius: 10px;
    color: #666;
    font-family: sans-serif;
    font-size: 12px;
    padding: 6px;
    text-align:center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: bold;
    margin: 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
    margin: 0.1em 0;
    white-space: nowrap;
}
