$white: rgba(255,255,255, 1);
$black: rgb(0,0,0);
$quote-text-main: #545454;
$quote-text-secondary: #151515;

$mm-purple-primary: #59089E;
$mm-blue-primary: #0055FF;
$mm-green-primary: #71F79F;
$mm-yellow-primary: #FFCF00;
$mm-orange-primary: #FE6E1F;
$mm-red-primary: #FE0E3D;

$mm-blue-secondary: #559FFF;
$mm-green-secondary: #33CE85;
$mm-pink-secondary: #FFD2E2;
$mm-yellow-secondary: #FFCF00;
$mm-orange-secondary: #FE6E1F;
$mm-red-secondary: #FF206E;

// need secondary colors

$mm-red-card-primary: #F72638;
$mm-red-card-secondary: #DBF476;

$mm-blue-card-primary: #0902D9;
$mm-blue-card-secondary: #6DE3BF;

$mm-pink-card-primary: #FECADA;
$mm-pink-card-secondary: #211C6C;

$mm-carnation-card-primary: #F47460;
$mm-carnation-card-secondary: #710981;

$mm-plum-card-primary: #250473;
$mm-plum-card-secondary: #CAF5FA;

$mm-orange-card-primary: #F37F19;
$mm-orange-card-secondary: #FFD303;

$mm-maroonblue-card-primary: #1E087F;
$mm-maroonblue-card-secondary: #4AE090;

$mm-deepblue-card-primary: #5C3D7F;
$mm-deepblue-card-secondary: #FF862A;

$mm-green-card-primary: #32EFAD;
$mm-green-card-secondary: #3E3E81;

$mm-gold-card-primary: #F3DCA1;
$mm-gold-card-secondary: #212764;

$mm-turquoise-card-primary: #37C8B4;
$mm-turquoise-card-secondary: #80136B;

$mm-purple-card-primary: #931FFF;
$mm-purple-card-secondary: #C9F7FC;

