@mixin theme-color($primary-color, $secondary-color) {
    #logo {
        path {
            fill: $primary-color !important;
        }
    }

    .half-swirl {
        svg {
            path {
                fill: $secondary-color !important;
            }
        }
    }

    .full-swirl {
        svg {
            path {
                fill: $secondary-color !important;
            }
        }
    }

    .fa-long-arrow-left {
        path {
            fill: $primary-color !important;
        }
    }

    .fa-long-arrow-right {
        path {
            fill: $primary-color;
        }
    }

    .services {
        .services__campaigns--item {
            .fa-long-arrow-right {
                path {
                    fill: $black;
                }
            }
        }
    }

    .link-container {
        svg {
            path {
                fill: $primary-color;
            }
        }
    }

    .footer,
    .card {
        .fa-long-arrow-right {
            path {
                fill: $white !important;
            }
        }
    }

    .workwithus {
        background-color: $secondary-color;

        svg {
            path {
                fill: $white;
            }
        }
    }

    .intro__showreel--filter:after {
        background-color: $primary-color;
        opacity: .35;
    }

    .text-right {
        i {
            color: $primary-color;
        }
    }

    .nav-item.active {
        .nav-link {
            color: $primary-color !important;
        }
    }

    .nav-item {
        .nav-link:last-child {
            a {
                color: $secondary-color !important;
            }
        }

        @include media-breakpoint-up(xl) {
        .navbar-text {
            color: $primary-color !important;
        }

        .vacature-counter {
            background-color: $primary-color;
        }
    }

        .nav-link {
            &:after {
                border-color: $primary-color;
            }
        }

        &:hover {
            .nav-link {
                color: $primary-color;
            }
        }
    }

    .nav-item.active {
        .nav-link {
            &:after {
                border-color: $primary-color;
            }
        }
    }

    .sectionintro__content {
        &--link-2 {
            a {
                color: $secondary-color !important;
            }
        }
    }

    .scroll-down {
        background-color: $primary-color;
    }

    .btn-light {
        color: $primary-color;

        &:hover {
            background: $primary-color;
            color: $white;
            border-color: $primary-color;
        }
    }

    .news__article--container {
        h6 {
            color: $primary-color;
        }
    }

    .header--point {
        color: $primary-color;
    }

    a {
        color: $primary-color;
        text-decoration: none;
        font-weight: 600;

        .cases__card--fontcolor {
            p {
                color: $white;
            }
        }

        .cases__card--fallback {
            p {
                color: $black;
            }
        }
    }

    h4 {
        color: $secondary-color;
    }
}

@mixin card-color($primary-color, $secondary-color, $body-color) {

    .card {
        &__content {
            background: $primary-color !important;

            h6 {
                color: $secondary-color !important;
            }

            &--body {
                color: $body-color;
            }

            &--footer {
                color: $secondary-color !important;
                background: $primary-color !important;
            }
        }
    }
}