h1,h2 {
    font-family: 'geomanistbold';
}

h4,h5 {
    font-family: 'geomanistmedium';
    margin: 0;
}

p {
    font-family: 'LatoWeb';
}

li {
    font-family: 'LatoWeb';
    font-size: 1.25rem;
    margin-bottom: 1rem;

    strong {
        font-family: 'LatoWebBold';
    }
}