<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('indikator/content/portfolio') ?>"><?= e(trans('indikator.content::lang.menu.portfolio')) ?></a></li>
        <li><?= e(trans($this->pageTitle)) ?></li>
        <li>
            <span class="text-info"><strong><?= Indikator\Content\Models\PortfolioCategories::where('status', 1)->count() ?></strong> <?= e(trans('indikator.content::lang.form.status_active')) ?></span>
            &nbsp; | &nbsp;
            <span class="text-danger"><strong><?= Indikator\Content\Models\PortfolioCategories::where('status', 2)->count() ?></strong> <?= e(trans('indikator.content::lang.form.status_inactive')) ?></span>
            &nbsp; | &nbsp;
            <strong><?= Indikator\Content\Models\PortfolioCategories::where('featured', 1)->count() ?></strong> <?= e(trans('indikator.content::lang.form.featured')) ?>
        </li>
    </ul>
<?php Block::endPut() ?>

<?= $this->listRender() ?>
