description = "Section clients"

[viewBag]

[Codestackers\Codestackers\Components\Client Client]
==

<?php
use Codestackers\Codestackers\Components\Client;

function onStart() {
$client = new Client();
$this['clients'] = $client->getClients();
}
?>

==

<section class="section section-clients" id="clients">
	<div class="container" style="background-image: url('{{ data.background_image | media }}')">
		<div class="section-title header-animation magic-scroll-animation">
			<h1>{{ data.title }}</h1>
			{{ data.description | raw}}
		</div>

		<div class="section-clients-tiles" id="client-animation">
			<div class="row">
				{% for client in clients %}
				{% if loop.index < 5 %}
				<div class="image-client magic-scroll-animation col-xl-3 col-6">
					<svg class="client-image" id="rect" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
						<rect class="motionPath" id="motionPath" x="0" y="0" height="200" width="200" rx="12" ry="12" />
						<rect class="littleSquare" x="0" y="0" height="10" width="10" rx="3" ry="3" />
					</svg>
					<img src="{{client.logo | media }}" alt="{{client.alt}}" class="client-logo">
					<div class="client-information-container">
						<div class="client-information">
						<p class="client-description">{{client.description}}</p>
						<div class="client-badges">
						{% for technology in client.technologies %}
						<span class="badge badge-primary">{{technology.name}}</span>
						{% endfor %}
						</div>
						<a href="{{ url('clients') }}/{{ client.slug }}">Lees meer</a>
					</div>
				</div>
				</div>
				{% elseif loop.index > 5 and loop.index < 9 %}
				<div class="image-client magic-scroll-animation col-xl-4 col-6">
					<svg class="client-image" id="rect" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
						<rect class="motionPath" id="motionPath" x="0" y="0" height="200" width="200" rx="12" ry="12" />
						<rect class="littleSquare" x="0" y="0" height="10" width="10" rx="3" ry="3" />
					</svg>
					<img src="{{client.logo | media }}" alt="{{client.alt}}" class="client-logo">
					<div class="client-information-container">
						<div class="client-information">
						<p class="client-description">{{client.description}}</p>
						<div class="client-badges">
						{% for technology in client.technologies %}
						<span class="badge badge-primary">{{technology.name}}</span>
						{% endfor %}
						</div>
						<a href="{{ url('clients') }}/{{ client.slug }}">Lees meer</a>
					</div>
				</div>
				</div>
				{% elseif loop.index > 9 and loop.index < 12 %}
				<div class="image-client magic-scroll-animation col-6">
					<svg class="client-image" id="rect" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
						<rect class="motionPath" id="motionPath" x="0" y="0" height="200" width="200" rx="12" ry="12" />
						<rect class="littleSquare" x="0" y="0" height="10" width="10" rx="3" ry="3" />
					</svg>
					<img src="{{client.logo | media }}" alt="{{client.alt}}" class="client-logo">
				</div>
				{% elseif loop.last %}
				<div class="image-client magic-scroll-animation col-xl-12 col-6">
					<svg class="client-image" id="rect" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
						<rect class="motionPath" id="motionPath" x="0" y="0" height="200" width="200" rx="12" ry="12" />
						<rect class="littleSquare" x="0" y="0" height="10" width="10" rx="3" ry="3" />
					</svg>
					<img src="{{client.logo | media }}" alt="{{client.alt}}" class="client-logo">
					<div class="client-information-container">
						<div class="client-information">
						<p class="client-description">{{client.description}}</p>
						<div class="client-badges">
						{% for technology in client.technologies %}
						<span class="badge badge-primary">{{technology.name}}</span>
						{% endfor %}
						</div>
						<a href="{{ url('clients') }}/{{ client.slug }}">Lees meer</a>
					</div>
				</div>
				</div>
				{% endif%}
				{% endfor %}
			</div>
		</div>
	</div>
</section>