description = "Contact Section"

[viewBag]
snippetCode = "section-contact"
snippetName = "section-contact"
snippetProperties[backgroundImage][title] = "backgroundImage"
snippetProperties[backgroundImage][type] = "string"
snippetProperties[backgroundImage][default] = ""
snippetProperties[backgroundImage][options][] = ""

[map]
map = 3

[apiLoader]
drawing = 0
geometry = 0
places = 0
visualization = 0
==
{% if data.form_type == 'second' %}
    {% set form_method = 'onSubmitSecond' %}
    {% set form_include = 'form-second' %}
{% else %}
    {% set form_method = 'onSubmit' %}
    {% set form_include = 'form-default' %}
{% endif %}
{% set show_alert_box 	= false %}
{% set btn_style_first 	= 'btn-danger' %}
{% set btn_style_second = 'btn-outline-danger' %}
{% set product_inlay = 'products/bg-inca-red.jpg'%}
{% set form_style_color = 'form-style-red' %}

<section class="section section-contact" id="contact">
	<div class="container">
		<div class="row contact-form-section" id="contact-animation">
			<div class="col-12 col-lg-6 map-container magic-scroll-contact-animation">
				{% component 'apiLoader' %}
				{% component 'map' %}
			</div>

			<div class="col-12 col-lg-6 form-container">
				<div id="form-default"> 
					<div class="header-animation magic-scroll-animation">
						<h1> {{ data.title }} </h1>
						{{ data.description | raw }}
					</div>
{% partial 'blocks/form' %}

				</div>
			</div>
		</div>
	</div>
</section>