description = "Generic form selectable"
[viewBag]
==
function onStart()
{
}
==

{% if data.color_style == 'red' %}
{% set show_alert_box 	= false %}
{% set btn_style_first 	= 'btn-danger' %}
{% set btn_style_second = 'btn-outline-danger' %}
{% set product_inlay = 'products/bg-inca-red.jpg'%}
{% set form_style_color = 'form-style-red' %}
{% endif %}
{% if data.layout == 'left' %}
    {% set style_1 = 'order-md-last' %}
    {% set style_2 = 'order-md-first' %}
{% endif %}
{% if data.form_type == 'second' %}
    {% set form_method = 'onSubmitSecond' %}
    {% set form_include = 'form-second' %}
{% else %}
    {% set form_method = 'onSubmit' %}
    {% set form_include = 'form-default' %}
{% endif %}

    <form method="POST"
        data-request="Contact::{{form_method}}"
        accept-charset="UTF-8"
        enctype="multipart/form-data"
        no-data-request-redirect="{{ data.redirect}}"
        data-request-validate
        data-request-flash
        class="{{form_style_color}} needs-validation">
    <input type="hidden" value="{{ data.campaign_id[0] }}"  name="campaign_id">
    <input type="hidden" value="{{ data.language_code }}"   name="language_code">
    <input type="hidden" value="{{ form_include }}"         name="form_id">
    {% partial form_include btn_style_first=btn_style_first form_include=form_include %}
    </form>