description = "Section introduction"

[viewBag]
==
<div class="view jarallax" data-jarallax='{"speed": 0.2}'
	style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient2.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
	<div class="mask rgba-blue-slight d-flex justify-content-center align-items-center">
		<div class="container">
			<div class="row wow fadeIn">
				<div class="col-md-12 text-center">
					<h1 class="display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">Coming soon in your AppStore</h1>
					<h5 class="pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp" data-wow-delay="0.2s">It comes
						with a lot of new features. Check us out now later!</h5>
					<div class="wow fadeInUp" data-wow-delay="0.4s">
						<a class="btn btn-purple btn-rounded"><i class="fas fa-user left"></i> Sign up!</a>
						<a class="btn btn-outline-purple btn-rounded"><i class="fas fa-book left"></i> Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>