<div class="container-fluid m-0 p-0">
    <section class=" text-center white-text grey p-5 z-depth-1"
        style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-12 col-md-12">
                <i class="fas fa-gem fa-2x mb-4"></i>
                <h3 class="font-weight-bold">Call to action</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae
                    numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam.</p>

                <a href="#" class="btn btn-outline-white  btn-md waves-effect " role="button">
                    <i class="fas fa-clone left"></i>
                    View project</a>
            </div>
        </div>
    </section>
    <section class="text-center dark-grey-text p-5">
        <div class="row text-center d-flex justify-content-center my-5">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <i class="fas fa-envelope-open fa-3x mb-4 grey-text"></i>
                <h5 class="font-weight-normal mb-3">Subscription Ready</h5>
                <p class="text-muted mb-0">MailChimp integration included</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <i class="fas fa-layer-group fa-3x mb-4 grey-text"></i>
                <h5 class="font-weight-normal mb-3">Block Variety</h5>
                <p class="text-muted mb-0">Develop pages like lego</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-md-0">
                <i class="fas fa-brush fa-3x mb-4 grey-text"></i>
                <h5 class="font-weight-normal mb-3">Color Pallet</h5>
                <p class="text-muted mb-0">Dozen of colors for elements</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-md-0">
                <i class="fas fa-puzzle-piece fa-3x mb-4 grey-text"></i>
                <h5 class="font-weight-normal mb-3">Page Builder</h5>
                <p class="text-muted mb-0">Drag and drop page design</p>
            </div>
        </div>

    </section>
    <section class="text-center text-lg-left z-depth-1 rounded p-5"
        style="background-image: url(https://mdbootstrap.com/img/Photos/Others/background.jpg); background-size: cover; background-position: center center;">
        <form class="my-5 mx-md-5" action="">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <form class="text-center" style="color: #757575;" action="#!">
                                <h3 class="font-weight-bold my-4 pb-2 text-center dark-grey-text">Log In</h3>
                                <div class="md-form">
                                    <input type="email" id="materialLoginFormEmail" class="form-control">
                                    <label for="materialLoginFormEmail">E-mail</label>
                                </div>
                                <div class="md-form">
                                    <input type="password" id="materialLoginFormPassword" class="form-control">
                                    <label for="materialLoginFormPassword">Password</label>
                                </div>


                                <small id="passwordHelpBlock" class="form-text text-right blue-text">
                                    <a href="">Recover Password</a>
                                </small>

                                <div class="text-center">
                                    <button type="button"
                                        class="btn btn-outline-orange btn-rounded my-4 waves-effect">Warning</button>
                                    <button
                                        class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                                        type="submit">Sign
                                        in</button>
                                    <button class="btn btn-outline-white waves-effect btn-secondary my-4" role="button">
                                        <i class="fas fa-clone left"></i>
                                        View project</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <section class="">
        <div class="row">
            <div class="col-lg-5 mb-lg-0 mb-4">
                <div class="view overlay mb-lg-0 mb-4">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-admin.png"
                        alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <div class="col-lg-7 mb-md-0 mb-4 align-self-center">

                <h2 class=" h2 mb-4">Now Available</h2>
                <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
                    numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a
                    pariatur veniam. Fugit, error amet numquam iure provident voluptate esse quasi.</p>

                <button type="button" class="btn btn-outline-dark waves-effect btn-md ml-lg-0"><i
                        class="fab fa-apple fa-lg pr-1"></i> App Store</button>
                <button type="button" class="btn btn-outline-dark waves-effect btn-md"><i
                        class="fab fa-google-play fa-lg pr-1"></i> Google Play</button>

            </div>
        </div>
        <section class="text-center white-text">
            <div class="row">
                <div class="col-lg-6 col-md-8 elegant-color-dark mx-auto px-5 pt-4 pb-5">
                    <i class="fab fa-mdb fa-4x mt-2 mb-4"></i>
                    <h2 class="h2 mb-4 pb-2">Download now</h2>

                    <p class="text-center mx-auto mb-4 pb-2">Prepared is me marianne pleasure likewise debating. Wonder
                        an unable except better stairs do ye admire.</p>
                    <hr class="hr-light" style="width: 3rem;">

                    <ul class="rating mt-4 pt-2 mb-1">
                        <li>
                            <i class="fas fa-star"></i>
                        </li>
                        <li>
                            <i class="fas fa-star"></i>
                        </li>
                        <li>
                            <i class="fas fa-star"></i>
                        </li>
                        <li>
                            <i class="fas fa-star"></i>
                        </li>
                        <li>
                            <i class="fas fa-star"></i>
                        </li>
                    </ul>

                    <p class="mb-4 pb-2"><small>Based on 3,000+ reviews</small></p>

                    <button type="button" class="btn btn-outline-white waves-effect btn-md"><i
                            class="fab fa-apple fa-lg pr-1"></i> App Store</button>
                    <button type="button" class="btn btn-outline-white waves-effect btn-md"><i
                            class="fab fa-google-play fa-lg pr-1"></i> Google Play</button>

                </div>
            </div>

        </section>
    </section>

    <section class="grey lighten-2 py-5">
        <div class="flex-center">
            <div class="row">
                <div class="col-md-3 flex-center">
                    <img src="https://mdbootstrap.com/img/Photos/Template/34.png" class="img-fluid wow fadeIn"
                        data-wow-delay=".2s">
                </div>
                <div class="col-md-3 flex-center">
                    <img src="https://mdbootstrap.com/img/Photos/Template/35.png" class="img-fluid wow fadeIn"
                        data-wow-delay=".4s">
                </div>
                <div class="col-md-3 flex-center">
                    <img src="https://mdbootstrap.com/img/Photos/Template/36.png" class="img-fluid wow fadeIn"
                        data-wow-delay=".4s">
                </div>
                <div class="col-md-3 flex-center">
                    <img src="https://mdbootstrap.com/img/Photos/Template/37.png" class="img-fluid wow fadeIn"
                        data-wow-delay=".2s">
                </div>
            </div>
        </div>
    </section>
</div>