[viewBag]
==

	function onStart() {
	}

==

<!-- Central Modal Medium Success -->
<div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-notify modal-info" role="document">
		<!--Content-->
		<div class="modal-content">
			<!--Header-->
			<div class="modal-header">
				<p class="heading lead">Modal Success</p>

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" class="white-text">&times;</span>
				</button>
			</div>

			<!--Body-->
			<div class="modal-body">
				<div class="text-center">
					<i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
				</div>
			</div>

			<!--Footer-->
			<div class="modal-footer justify-content-center">
				<a type="button" class="btn btn-success">Get it now <i class="far fa-gem ml-1 text-white"></i></a>
				<a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">No, thanks</a>
			</div>
		</div>
		<!--/.Content-->
	</div>
</div>
<!-- Central Modal Medium Success-->

<a href="" class="btn btn-default btn-rounded waves-effect waves-light" data-toggle="modal"
	data-target="#centralModalSuccess">Launch Modal
	<i class="far fa-eye ml-1"></i>
</a>




<div class="card">
	<h5 class="card-header info-color white-text text-center py-4">
		<strong>Sign in</strong>
	</h5>
	<div class="card-body px-lg-5 pt-0">
		<form class="text-center" action="#!">
			<div class="md-form">
				<input type="email" id="materialLoginFormEmail" class="form-control">
				<label for="materialLoginFormEmail">E-mail</label>
			</div>
			<div class="md-form">
				<input type="password" id="materialLoginFormPassword" class="form-control">
				<label for="materialLoginFormPassword">Password</label>
			</div>

			<div class="d-flex justify-content-around">
				<div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
						<label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
					</div>
				</div>
				<div>
					<a href="">Forgot password?</a>
				</div>
			</div>

			<button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign
				in</button>
			<p>Not a member?
				<a href="">Register</a>
			</p>

		</form>
		<!-- Form -->

	</div>

</div>
<!-- Material form login -->