<div class="view" style="height:100vh;">
    <video class="video-intro"  playsinline autoplay muted loop>
        <source src="{{'assets/video/Lines-min.mp4' | theme }}" type="video/mp4">
    </video>
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <div class="text-center white-text mx-5 wow fadeIn">

            <h1 class="display-4 mb-4">
                <strong>Coming Soon!</strong>
            </h1>
            <h4 class="mb-4">
                <strong>We&apos;re working hard to finish the development of this site.</strong>
            </h4>
            <a target="_blank" href="https://codestackers.io" class="btn btn-outline-white btn-lg">About Codestackers
                <i class="fas fa-graduation-cap ml-2"></i>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    new WOW().init();
</script>
