<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('system/settings') ?>">
            <?= e(trans('system::lang.settings.menu_label')) ?></a>
        </li>

        <li><?= e(trans($this->pageTitle)) ?></li>
    </ul>
<?php Block::endPut() ?>

<div class="padded-container container-flush">
    <?= $this->makeHintPartial('seo_import_hint', 'hint') ?>

    <div class="control-toolbar">
        <div class="toolbar-item toolbar-primary">
            <div data-control="toolbar">
                <button class="btn btn-primary oc-icon-download"
                        data-request="onImportSeoFromCmsPages"
                        data-stripe-load-indicator>
                    <?= e(trans('renatio.seomanager::lang.import.cms')) ?>
                </button>

                <?php if (System\Classes\PluginManager::instance()->exists('RainLab.Pages')) : ?>
                    <button class="btn btn-primary oc-icon-download"
                            data-request="onImportSeoFromStaticPages"
                            data-stripe-load-indicator>
                        <?= e(trans('renatio.seomanager::lang.import.static')) ?>
                    </button>
                <?php endif ?>

                <?php if (System\Classes\PluginManager::instance()->exists('RainLab.Blog')) : ?>
                    <button class="btn btn-primary oc-icon-download"
                            data-request="onImportSeoFromBlog"
                            data-stripe-load-indicator>
                        <?= e(trans('renatio.seomanager::lang.import.blog')) ?>
                    </button>
                <?php endif ?>
            </div>
        </div>
    </div>
</div>


