description = "Coming Soon"

[viewBag]
snippetCode = "comingsoon"
snippetName = "Coming Soon"
==
<div class="main">
    <div class="container">
        <h1>
            more to see soon
        </h1>
<!--
        <span class="text-center"> 
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">Email address</label>
                    <input type="email" class="form-control transparent" placeholder="Your email here...">
                </div>
                <button type="submit" class="btn btn-warning btn-fill">Notify Me</button>
            </form>
        </span>
    -->
    </div>
</div>
