description = "Default Form"
[viewBag]
==
    <div class="group form-group magic-scroll-animation">
        <input id="name" type="name" name="name" class="form-control" placeholder="{{data.name}}">
    </div>

    <div class="group form-group magic-scroll-animation">
        <input id="email" type="text" name="email" class="form-control" placeholder="{{data.email}}">
    </div>

    <div class="group form-group magic-scroll-animation">
        <textarea name="message" type="text" rows="3" data-min-rows="3"
            class="textarea-animation autoExpand" id="message" placeholder="{{data.message}}"></textarea>
    </div>
    <div class="group form-group form-input magic-scroll-animation">
        <input type="checkbox" name="privacy" id="privacy" placeholder="{{ "contact.placeholder.privacy" |_}}" class="form-check-input" value="1">
        <label for="privacy" class="form-check-label"> {{data.privacy}} </label>
    </div>
    <div class="form-input magic-scroll-animation">
        <button type="submit" class="contact-button" data-attach-loading>{{data.btn}}</button>
    </div>


