description = "The Jumbotron"

[viewBag]
snippetCode = "section-jumbotron"
snippetName = "Jumbotron"
snippetProperties[headertextline1][title] = "Header text line 1"
snippetProperties[headertextline1][type] = "string"
snippetProperties[headertextline1][default] = "Codestackers"
snippetProperties[headertextline1][options][] = ""
snippetProperties[headertextline2][title] = "Header text line 2"
snippetProperties[headertextline2][type] = "string"
snippetProperties[headertextline2][default] = "Connecting technology"
snippetProperties[headertextline2][options][] = ""
snippetProperties[headertextline3][title] = "Header text line 3"
snippetProperties[headertextline3][type] = "string"
snippetProperties[headertextline3][default] = ""
snippetProperties[headertextline3][options][] = ""
==
<div class="animate-section banner-box d-flex mb-3" style="background-image: url({{'assets/images/visual-page01.jpg'|theme}});">
	<div class="banner-container container d-flex">
		<div class="banner-holder d-flex align-items-center">
			<h1 class="display-1 text-uppercase">
			{% if headertextline1|length > 1 %}
				<span class="d-block">
					{{ headertextline1}}
				</span>
            {% endif %}
			{% if headertextline2|length > 1 %}
				<span class="d-block">
					<strong>
						{{ headertextline2 }}
					</strong>
				</span>
            {% endif %}
			{% if headertextline3|length > 1 %}
				<span class="d-block">
					<strong class="text-underline">{{ headertextline3 }}</strong>
				</span>
            {% endif %}
			</h1>
		</div>
	</div>
</div>