<header>
	<nav class="mb-1 navbar fixed-top navbar-expand-lg navbar-dark  scrolling-navbar ">
		<a class="navbar-brand" href="#">
			<span class="fa fa-check-circle"></span>	
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
			aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent-555">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{ url('/') }}">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
			</ul>			
			{% if user %}

			<ul class="navbar-nav ml-auto nav-flex-icons">
				<li class="nav-item">
					<a class="nav-link waves-effect waves-light">1
						<i class="fas fa-envelope"></i>
					</a>
				</li>
				<li class="nav-item avatar dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						<img src="{{ user.avatar | resize(200,200, { mode: 'crop' } ) }}"
							class="rounded-circle z-depth-0" alt="avatar image">
					</a>
					<div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
						aria-labelledby="navbarDropdownMenuLink-55">
						<a class="dropdown-item" data-request="onLogout" data-request-data="redirect: '{{ url('user/logout') }}'">Sign out</a>
						<a class="dropdown-item" href="{{ url('user/login') }}">Profile</a>
					</div>
				</li>
			</ul>
			{% else %}
				<a href="{{ url('user/login') }}" class="btn btn-secondary" >Login </a>
			{% endif %}
		</div>
	</nav>
</header>