title = "login"
url = "/user/login"
layout = "default"
description = "Login user"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="card m-5">    
    <div class="card-header info-color white-text text-center py-4 ">
            <h5><strong>Profile</strong></h5>
        {% if user %}
            <a href="{{ url('user/logout') }}" 
                data-request="onLogout" 
                data-request-data="redirect: '{{ url('user/logout') }}'"
                class="btn btn-secondary float-right mt-1 mr-1 position-absolute" 
                style="top:15px; right:10px;"  >Sign out</a>
        {% endif %}

    </div>
     <div class="card-body card-body-cascade text-center">
        {% component 'account' %}
    </div>
</div>