title = "user logout"
url = "/user/logout"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="card m-5">    
    <div class="card-header info-color white-text text-center py-4 ">
        <h5 class="">Log-out</h5>
        <a href="{{ url('user/login') }}" class="btn btn-secondary float-right mt-1 mr-1 position-absolute" style="top:15px; right:10px;"  >Login </a>
    </div>
     <div class="card-body card-body-cascade text-center">
        You are now Logged-out
    </div>
</div>