.articlewithimage {
    a {
        &::after {
            display: none;
        }
    }

    &__row {
        @include media-breakpoint-down(sm) {
            flex-direction: column-reverse;
        }

        @include media-breakpoint-up(lg) {
            padding: 2.5rem 0;
        }
    }


    &__content--service,
    &__content--standalone {
        @include media-breakpoint-up(sm) {
            padding: 0 2.5rem;
        }
    }

    &__img {

        &--standalone,
        &--service {
            box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.1);

            @include media-breakpoint-down(xl) {
                width: 100%;
            }

            @include media-breakpoint-down(md) {
                margin: 2rem 0;
            }
        }

        &--product {
            box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.1);

            @include media-breakpoint-down(xl) {
                width: 100%;
                height: auto;
            }
        }
    }

    &__writerinfo {
        @include media-breakpoint-down(sm) {
            flex-direction: row;
        }

        padding: 3rem 0;

        &--img {
            padding-left: 0;
        }

        img {
            width: 100%;

        }

        &--header {
            font-family: 'geomanistmedium';
        }

        &--text {
            padding-bottom: .5rem;
        }

        @include media-breakpoint-down(sm) {
            &--content {
                p {
                    line-height: 150%;
                }
            }
        }

        a {
            @include media-breakpoint-down(sm) {
                font-size: .875rem;
            }
            &::after {
                display: none;
            }
        }
    }


}
