.calltoaction {
    &__content {
        padding: 3rem 0;
        background: $mm-blue-primary;
        color: $white;


        &--btn {
            padding-top: 2rem;

            .btn-light {
                padding-right: 2rem;
                border-radius: .25rem
            }
        }

    .col-4:first-child {
        padding-left: 0;
    }

    input[type=text] {
        border: 1px solid $white;
        border-radius: .16rem;
        padding: .85rem 0.5rem .85rem 1rem;
        width: 100%;

        ::placeholder {
            color: rgba(21, 21, 21, 0.8);
        }
    }
    &::after {
        content: '';
        background-color: $mm-blue-primary;
        border-color: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .col-12 {
        z-index:99;
    }

    .btn {
        font-weight: 600;
    }

    svg {
        margin-right: 1rem;
    }
}

}