.card {
    padding-bottom: 3rem;
    border: none;
    background: transparent;

    &__imgwrapper {
        position: relative;
        padding: 0 1.5rem;
        margin: 0 auto;

        .read-more {
            position: absolute;
            z-index: 2500;
            color: $white;
            font-size: 2rem;
            bottom: 0;
            right: 5%;
        }

        .card-img-top {
            z-index: 10;
            max-height: 28.75rem;
            max-width: 21.5rem;

            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
    }

    &__content {
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.1);
        background-color: $white;
        padding: 18vh 0 0;
        margin-top: -15vh;
    
    h6 {
        color: $mm-blue-primary;
        font-weight: bold;
        font-size: .875rem;
    }

    &--header {
        padding-left: 2.25rem;        
    }

    &--body {
        color: $black;
        padding: 1rem 1rem 1rem 2.25rem;
        font-size: 1.5rem;
        line-height: 120%;
        font-family: 'geomanistmedium';
        min-height: 7.5rem;
        overflow: hidden;

        p {
            font-size: 1.5rem;
            line-height: 120%;
            font-family: 'geomanistmedium';
        }
    }

    &--footer {
        padding: 0 2.25rem 2.5rem;
    }
    }
}
