.redwithyellow {
    @include card-color($mm-red-card-primary, $mm-red-card-secondary, $white)
}

.bluewithblue {
    @include card-color($mm-blue-card-primary, $mm-blue-card-secondary, $white)
}

.pinkwithpurple {
    @include card-color($mm-pink-card-primary, $mm-pink-card-secondary, $white)
}

.orangewithpurple {
    @include card-color($mm-carnation-card-primary, $mm-carnation-card-secondary, $white)
}

.purplewithblue {
    @include card-color($mm-plum-card-primary, $mm-plum-card-secondary, $white)
}

.orangewithyellow {
    @include card-color($mm-orange-card-primary, $mm-orange-card-secondary, $white)
}

.purplewithgreen {
    @include card-color($mm-maroonblue-card-primary, $mm-maroonblue-card-secondary, $white)  
}

.deepbluewithorange {
    @include card-color($mm-deepblue-card-primary, $mm-deepblue-card-secondary, $white)  
}

.greenwithpurple {
    @include card-color($mm-green-card-primary, $mm-green-card-secondary, $white)  
}

.goldwithblue {
    @include card-color($mm-gold-card-primary, $mm-gold-card-secondary, $white)  
}

.turquoisewithpurple {
    @include card-color($mm-turquoise-card-primary, $mm-turquoise-card-secondary, $white)  
}

.purplewithsilver {
    @include card-color($mm-purple-card-primary, $mm-purple-card-secondary, $white)  
}
.whitewithblack {
    @include card-color($white, $black, $black)
}

