.cases {
    padding: 2.5rem 0 0 !important;

    &__card--client {
        font-size: .75rem;
        font-weight: bold;
    }
    @include media-breakpoint-down(sm) {
        background-size: contain;
    }

    @include media-breakpoint-up(sm) {
        .card {
            &:last-of-type {
                margin-bottom: 0;
            }
            &:nth-child(3n+2) {
                margin-top: 10vh;
            }
            &:nth-child(3n+3) {
                margin-top: 5vh;
            }
        }
    }
    
    &__highlight {
        .content-wrapper {
            position: relative;
            height: 40vh;
        }
            z-index: 2;
            position: relative;


            @include media-breakpoint-down(sm) {
                padding: 1rem;
                margin: -5rem auto;
                order: 6;
                border-left: 15px solid $white;
                border-right: 15px solid $white; //please refactor this row glich somehow :-(
            }

        @include media-breakpoint-down(sm) {
            padding-bottom: 7rem;
        }

        .even {
            margin: 2.5rem 0rem 0 -6rem;

            @include media-breakpoint-down(sm) {
                margin: -5rem auto;
            }
        }

        &--content {
            padding: 10rem 1rem 1rem;
            margin-top: -35%;
            width: 100%;
            color: $white;
            z-index: -1;
            min-height: 100%;
            p {
                padding: 1.125rem 0 1rem;
                font-size: 2rem;

                @include media-breakpoint-down(sm) {
                    font-size: 1.25rem;
                    padding: 0.75rem 0 1rem;
                }
            }

            a {
                @include media-breakpoint-down(sm) {
                    font-size: .75rem;
                }
            }
        }

        &--image {
            overflow: hidden;
            padding: 0 1rem;
            height: 100%;
            &-wrapper {
                padding-bottom: 5rem;

                @include media-breakpoint-down(sm) {
                    padding-bottom: 0;
                    order: 5;
                }
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

    .intro {
        &__client {
            padding-top: 3rem;
            color:red; 
            text-transform:uppercase; 
            font-family: 'geomanistmedium';
            font-size: .875rem;

            &--tags {
                text-decoration: underline;
                font-size: 1.125rem;
            }
        }
        .link-previous {
            z-index: 999;
            @include media-breakpoint-down(sm) {
                padding: 1rem 0;
            }
        }
    }    

    .casebyslug {
    &__imgfilter {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0,0,0,0.3);
    }
    &__nextcase {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        padding: 2rem 0;

        @include media-breakpoint-up(sm) {
            padding: 8.25rem 0;
        }

        &--imgfilter {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }

        &--body {
        h1 {
            padding: 0 0 1.5rem;
        }
        p {
            font-size: .875rem;
        }
    }
        &--footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 1rem;
            
                span {
                    text-decoration: underline;
                }
            
            .case-link {
                a {
                    color: white;
                    font-size: 2rem;
                }
            }

        }
    }
}
