
.theme-1 {
    @include theme-color($mm-blue-primary, $mm-pink-secondary);

    .half-swirl,
    .full-swirl {
        img {
            filter: none;
        }
    }
}

.theme-2 {
    @include theme-color($mm-yellow-primary, $mm-blue-primary);

    .half-swirl,
    .full-swirl {
        img {
            filter: invert(1);
        }
    }
}

.theme-3 {
    @include theme-color($mm-red-secondary, $mm-yellow-primary);

    .half-swirl,
    .full-swirl {
        img {
            filter: hue-rotate(90deg);
        }
    }
}

.theme-4 {
    @include theme-color($mm-green-primary, $mm-purple-primary);

    .half-swirl,
    .full-swirl {
        img {
            filter: sepia(1);
        }
    }
}

.theme-5 {
    @include theme-color($mm-purple-primary, $mm-green-secondary);

    .half-swirl,
    .full-swirl {
        img {
            filter: hue-rotate(200deg);
        }
    }
}

.theme-6 {
    @include theme-color($mm-yellow-primary, $mm-red-secondary);

    .half-swirl,
    .full-swirl {
        img {
            filter: hue-rotate(300deg);
        }
    }
}

section {
    &:not(:first-of-type) {
        padding: 2.5rem 0;

        @include media-breakpoint-down(sm) {
            padding: 1.25rem 0;
        }
    }
}

.image-partial {
    img {
        width: 100%
    }
}

.textpartial {
    padding: 2.5rem 0;
}

.partial-wrapper {
    .half-swirl {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .full-swirl {
        position: absolute;
        top: 300vh;
        left: -20vw;
        z-index: -1;

        @include media-breakpoint-down(lg) {
            left: -45%;
        }
        @include media-breakpoint-between(sm, md) {
            left: -45%;

            svg {
                width: 80%;
            }
        }
        @include media-breakpoint-down(xs) {
            left: -55vw;

            svg {
                width: 60%;
            }
        }
    }
}

.about {
    .sectionintro {
        padding: 0;
    }

    &__team {
        &--images {
            width: 100%;
        }
    }

}

.hero {
    &__filter {
        position: relative;
        box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.1);

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        img {
            height: 100%;
            width: 100%;
        }

        @include media-breakpoint-down(md) {
            height: 12.625rem;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.1);

        .btn-light {
            position: absolute;
            left: 50%;
            margin-left: -7rem;
        }

        @include media-breakpoint-down(sm) {
            margin: 0;
            height: 12.625rem;
        }
    }
}

.sectionintro {
    padding-top: 0;
    background-repeat: no-repeat;
    background-position: right;

    @include media-breakpoint-up(sm) {
        padding-top: 5rem;
    }

    @include media-breakpoint-down(sm) {
        background: none !important;
        margin-bottom: 0 !important;
    }

    &__content {
        font-size: 1.25rem;
        line-height: 160%;
        padding-bottom: 3rem;

        @include media-breakpoint-down(sm) {
            padding: 2rem .25rem;
            font-size: 1rem;
            line-height: 200%;
        }

        &--link-1 {
            font-size: 1.125rem;
            display: block;
            padding-bottom: 1.5rem;

        }

        &--link-2 {
            font-size: 1.125rem;
            display: block;

        }
    }
}

.fa-long-arrow-right {
    margin-right: 1.5rem;
    transition: .25s ease-in;
}

.fa-long-arrow-left {
    margin-right: 0;
    transition: .25s ease-in;
}

.clients {
    &__img {
        &--item {
            padding: 1rem 0;

            img {
                width: 100%;
            }
        }
    }
}

.quote {
    &__content {
        border-left: 8px solid #0055FF;
        padding: 1.5rem;
        margin: 2.875rem 0 4rem;

        &--image {
            width: 3rem;
            height: 3rem;

            img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
            }
        }

        &--body {
            font-size: 1.5rem;
            font-family: georgia;
            color: $quote-text-main;
            padding: 1rem 0;
        }

        &--footer {
            font-family: 'geomanistmedium';
            font-size: 1.125rem;
            color: $quote-text-secondary;
        }
    }
}


.studioculture {
    padding-bottom: 0 !important;

    &__photorow {
        padding-top: 3rem;
        padding-bottom: 3rem;

        &:nth-child(4n+1) {
            margin-top: -5vh;
        }

        &:nth-child(4n+2) {
            margin-top: 0;
        }

        &:nth-child(4n+3) {
            margin-top: -2.5vh;
        }
        &:nth-child(4n+4) {
            margin-top: 0;
        }

        @include media-breakpoint-down(sm) {
            img {
                width: 100%;
            }
        }
    }
}

.custom-height {
    padding-top: 7.5rem;

    @include media-breakpoint-up(md) {
        margin-bottom: -45vh;
        padding-top: 12.25rem;
    }
}

.link-container {
    padding: 2rem 0 0;
}

.slug-link-previous {
    padding: 2rem 1rem 2rem 0;
}

.slugpage {
    a {
        position: relative;
        &::after {
            display: inline-block;
            content: ' ';
            background-image: url('../../../../../../themes/default/assets/images/fa-long-arrow-external.svg');
            background-size: 20px 20px;
            height: 20px;
            margin-bottom: -3px;
            width: 20px;
        }
    }
}

.carousel {
    a {
        position: absolute;
        &::after {
            display: none;
        }
    }
}