.footer {
    position: relative;
    background: $black;
    color: $white;
    padding: 5rem 1.25rem;

    p {
        font-size: 1rem;
    }

    h5 {
        padding-bottom: 1rem;
        @include media-breakpoint-down(sm) {
            font-size: .875rem;
        }
    }

    @include media-breakpoint-down(sm) {
        font-size: .875rem;
        padding: 2rem .25rem;
    }

    &__title {
        padding: 0 15px;
        @include media-breakpoint-up(sm) {
            max-width: 70%;
        }
        h1 {
            padding: 0;
        }
    }

    &__info {
        padding: 5rem 0;

        @include media-breakpoint-down(sm) {
            padding: 1.75rem 0 0;
        }

        &--address {
            @include media-breakpoint-down(sm) {
                padding-bottom: 2rem;
            }
        }

        &--contact {
            @include media-breakpoint-down(sm) {
                padding-bottom: 2rem;
            }
        }

        .fa-long-arrow-right {
            margin-left: 0;
        }

        a {
            color: white;
        }
    }

    &__social {
        @include media-breakpoint-down(sm) {
            padding: 2rem 0 0;
        }

        &--link {
            padding-bottom: 1.25rem;
            a {
                color: $white;
                text-decoration: none;
                font-size: 1.125rem;
                font-weight: normal;

                @include media-breakpoint-down(sm) {
                    font-size: .875rem;
                }
            }
        }

        &--privacy {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 1rem .5rem;
            font-size: .875rem;
        }

        &--logo {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
}