.intro {

    .scroll-down {
        position: absolute;
        right: 0;
        top: 0;
        color: white;
        font-size: .875rem;
        padding: 1.5rem 0.7rem 1.5rem;
        z-index: 20;

        @include media-breakpoint-down(lg) {
            right: 0;
            top: 0;
            font-size: 0.625rem;
            padding: 1.2rem 0.25rem;
            z-index: 1;
        }

        svg {}

        span {
            display: block;
            font-size: .875rem;
            padding-bottom: .5rem;
        }
    }

    .container {
        padding: 0;
    }

    &__content {
        padding-top: 8rem;

        @include media-breakpoint-up(md) {
            padding-top: 12rem;
        }

    }

    &__showreel,
    &__hero {
        // change when showreel will be added as img
        position: relative;
        z-index: 1;
        padding: 2rem 0 0;
        margin-bottom: 2rem;

        &--filter {
            position: relative;

            img {
                box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.1);
                width: 100%;
            }
        }


    }

    &__showreel {
        &--content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .btn-light {
                position: absolute;
                left: 50%;
                margin-left: -7rem;
            }

            @include media-breakpoint-down(sm) {
                margin: 0;
                height: 12.625rem;
            }
        }
    }
}