.navbar {
    font-family: 'LatoWeb';
    background-color: $white;
    padding: 3.25rem 0 0;
    transition: .2s ease;
    position: fixed;
    z-index: 2000000;
    width: 100%;

    @include media-breakpoint-down(sm) {
        padding: 2rem;
    }

        #logo {
            height: 5rem;
            width: 6rem;
            @include media-breakpoint-down(sm) {
                height:2.875rem;
                width: 4rem;
            }

    }
&-collapse {
    padding: 1rem 0;
}


.navbar-toggler {
    border: none;
}

.nav-link {
    position: relative;

    .divider {
        @include media-breakpoint-down(lg) {
            display: none;
        }

        &:before {
            content: '';
            position: absolute;
            width: 2px;
            height: 20px;
            background: black;
            left: 0;
            top: .625rem;
            margin-right: .5rem;
        }
    }

    .fa-long-arrow-right {
        margin: 0 .5rem;
    }
}

.nav-item {
    a {
        text-decoration: none;
        font-size: 1rem;
    }
    .navbar-text {
        svg {
            margin: 0 0.5rem 0 3rem;
        }

        @include media-breakpoint-down(lg) { 
            color: $black;
            svg {
                display: none;
            }
        }
    }
}

.nav-item {
    margin-left: .5rem;
    .navbar-text {
        position: relative;
        .vacature-counter {
            padding: 0.25rem .5rem;
            display: inline-block;
            color: white;
            position: absolute;
            left: 0;
            top: .625rem;
            border-radius: 100%;
            min-width: 1.5rem;
            max-width: 1.5rem;
            min-height: 1.5rem;
            max-height: 1.5rem;
            font-size: .75rem;

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }

    &-counter {
        .nav-link {
            padding-right: 0;

            &::after {
                content: '';
                left: unset !important;
                width: 80% !important;
            }

            @include media-breakpoint-up(xl) {
                padding-left: 1rem;
            }
        }
    }
}

.vacature-counter label {
    color: white;
    }
}

.navbar-hidden {
    transform: translateY(-100%);
    transition-delay: .05ms;
}

.navbar-minimized {
    padding: .25rem 0 0;
    .navbar-brand {
        svg {
            height: 3rem !important;
            width: 4rem !important;
        }
    }
}

.navbar-padding {
    @include media-breakpoint-up(sm) {
    padding-bottom: 7.25rem;
    }
}