.news {
    .sectionintro {
        @include media-breakpoint-up(sm) {
            padding: 0 0 4.5rem;
        }
    }

    &__image {
        img {
            width: 100%;
        }
    }
    &__article { 
        margin-top: -10%;
        margin-bottom: 10%;

        &--container {
            background: white;
            box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.1);

            h6 {
                padding: 1rem 1rem 1.25rem;
                margin: 0;

                @include media-breakpoint-down(sm) {
                    font-size: .875rem;
                    padding: 1rem 0;
                }
            }
            p {
                padding: 0 1rem 0;
                color: black;

                @include media-breakpoint-down(sm) {
                    font-size: 1.25rem;
                    padding: 0;
                }
            }

            .text-right {
                padding: 0 .5rem 1.5rem;
            }
        }
    }
    &__filters {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 2rem 1rem;

        &--item {
            font-size: 1rem;
            color: $quote-text-main;
            padding-right: 1.5rem;
        }
    }

    &__footer {
        padding: 5rem 0 0;
    }
}