.productbyslug {
    .sectionintro {

        height: 100vh;

        @include media-breakpoint-down(sm) {
            height: 85vh;
        }
        @include media-breakpoint-between(md, lg) {
            height: 55vh;
        }

        &__content {
            padding-bottom: 0;
        }
        .link-previous {
            z-index: 999;
        }
    }
}
