.services {
    line-height: 200%;
    font-size: 1rem;

    @include media-breakpoint-up(sm) {
        line-height: 160%;
        font-size: 1.25rem;
    }

    &__campaigns {
        font-family: 'geomanistmedium';

        @include media-breakpoint-up(sm) {
            display: flex;
            flex-direction: row;
            justify-content: start;
            flex-wrap: wrap;
            padding-top: 1.5rem;
        }

        &--item {
            padding-top: 2rem;

            @include media-breakpoint-up(sm) {
                width: 50%;
            }

            a {
                color: $black;
                font-size: 1.5rem;
                cursor: pointer;
                font-weight: normal;
            }

            svg {
                width: 28px;
            }
        }
    }

    &__photo {
        padding: 0;

        &--item:nth-child(-n + 4) {
            margin: 0 0 2rem;
        }
        &--item:nth-child(2n + 2) {
            margin: 1rem 0;
        }

        @include media-breakpoint-down(md) {
            padding-top: 2.25rem;
        }

        &--item {

        img {
            width: 100% !important;
        }
    }
    }

    .fa-long-arrow-right {
        margin-left: 0;
    }

    a::after {
        display: none;
    }
}

.servicebyslug {
    .sectionintro {

        height: 100vh;

        @include media-breakpoint-down(sm) {
            height: 85vh;
        }
        @include media-breakpoint-between(md, lg) {
            height: 55vh;
        }

        &__content {
            padding-bottom: 0;
        }
    }
}