.workwithus {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__swirl {
        position: absolute;
        // left: 15%;
        // top: 0;

        @include media-breakpoint-down(sm) {
            display: none; //create responsiveness
        }
    }

    &__container {
        color: white;
        padding-bottom: 2.5rem;

        &--header {
            line-height: 132%;
            padding: 2.5rem 0 3.5rem;
            font-size: 2.25rem;

            @include media-breakpoint-down(sm) {
                padding: 1.75rem 0;
                font-size: 1.75rem;
            }
        }

        a {
            color: $white !important;
        }

        @include media-breakpoint-down(sm) {
            padding-bottom: 2rem;
        }
    }
}