<div data-control="toolbar">
    <?php if ($this->user->hasAccess('indikator.content.create')): ?>
    <a
        href="<?= Backend::url('indikator/content/blog/create') ?>"
        class="btn btn-primary oc-icon-plus">
        <?= e(trans('indikator.content::lang.new.blog')) ?>
    </a>
    <?php endif ?>
    <?php if ($this->user->hasAccess('indikator.content.categories')): ?>
    <a
        href="<?= Backend::url('indikator/content/blogcategories') ?>"
        class="btn btn-default oc-icon-list-ul">
        <?= e(trans('indikator.content::lang.menu.categories')) ?>
    </a>
    <?php endif ?>
    <?php if (Indikator\Content\Models\Blog::count() > 0): ?>
    <div class="btn-group">
        <button
            class="btn btn-default oc-icon-check"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })"
            data-request="onActivate"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-stripe-load-indicator>
            <?= e(trans('indikator.content::lang.button.activate')) ?>
        </button>
        <button
            class="btn btn-default oc-icon-times"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })"
            data-request="onDeactivate"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-stripe-load-indicator>
            <?= e(trans('indikator.content::lang.button.deactivate')) ?>
        </button>
    </div>
    <?php if ($this->user->hasAccess('indikator.content.delete')): ?>
    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onRemove"
        data-request-confirm="<?= e(trans('indikator.content::lang.flash.delete')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-stripe-load-indicator>
        <?= e(trans('system::lang.plugins.remove')) ?>
    </button>
    <?php endif ?>
    <?php endif ?>
    <?php if ($this->user->hasAccess('indikator.content.import_export')): ?>
    <div class="btn-group">
        <a
            href="<?= Backend::url('indikator/content/blog/export') ?>"
            class="btn btn-default oc-icon-download">
            <?= e(trans('indikator.content::lang.button.export')) ?>
        </a>
        <a
            href="<?= Backend::url('indikator/content/blog/import') ?>"
            class="btn btn-default oc-icon-upload">
            <?= e(trans('indikator.content::lang.button.import')) ?>
        </a>
    </div>
    <?php endif ?>
</div>
