<div data-control="toolbar">
    <a
        href="<?= Backend::url('indikator/content/blog') ?>"
        class="btn btn-default oc-icon-chevron-left">
        <?= e(trans('indikator.content::lang.button.return')) ?>
    </a>
    <?php if ($this->user->hasAccess('indikator.content.create')): ?>
    <a
        href="<?= Backend::url('indikator/content/blogcategories/create') ?>"
        class="btn btn-primary oc-icon-plus">
        <?= e(trans('indikator.content::lang.new.categories')) ?>
    </a>
    <?php endif ?>
    <?php if (Indikator\Content\Models\BlogCategories::count() > 0): ?>
    <?php if ($this->user->hasAccess('indikator.content.reorder')): ?>
    <a
        href="<?= Backend::url('indikator/content/blogcategories/reorder') ?>"
        class="btn btn-default oc-icon-random">
        <?= e(trans('indikator.content::lang.button.reorder')) ?>
    </a>
    <?php endif ?>
    <div class="btn-group">
        <button
            class="btn btn-default oc-icon-check"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })"
            data-request="onActivate"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-stripe-load-indicator>
            <?= e(trans('indikator.content::lang.button.activate')) ?>
        </button>
        <button
            class="btn btn-default oc-icon-times"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })"
            data-request="onDeactivate"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-stripe-load-indicator>
            <?= e(trans('indikator.content::lang.button.deactivate')) ?>
        </button>
    </div>
    <?php if ($this->user->hasAccess('indikator.content.delete')): ?>
    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onRemove"
        data-request-confirm="<?= e(trans('indikator.content::lang.flash.delete')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-stripe-load-indicator>
        <?= e(trans('system::lang.plugins.remove')) ?>
    </button>
    <?php endif ?>
    <?php endif ?>
</div>
