<div data-control="toolbar">
    <a
        href="<?= Backend::url('indikator/content/slideshow') ?>"
        class="btn btn-default oc-icon-chevron-left">
        <?= e(trans('indikator.content::lang.button.return')) ?>
    </a>
    <?php if ($this->user->hasAccess('indikator.content.create')): ?>
    <a
        href="<?= Backend::url('indikator/content/slideshowstyle/create') ?>"
        class="btn btn-primary oc-icon-plus">
        <?= e(trans('indikator.content::lang.new.slideshowstyle')) ?>
    </a>
    <?php endif ?>
    <?php if (Indikator\Content\Models\SlideshowStyle::count() > 0): ?>
    <?php if ($this->user->hasAccess('indikator.content.delete')): ?>
    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onRemove"
        data-request-confirm="<?= e(trans('indikator.content::lang.flash.delete')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-stripe-load-indicator>
        <?= e(trans('system::lang.plugins.remove')) ?>
    </button>
    <?php endif ?>
    <?php endif ?>
</div>
