description = "Default under construction"

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{this.theme.site_name}} | {{ this.page.title }}</title>

		<meta property="og:url"           		content="{{url('/')}}{{page.url}}" />
		<meta property="og:type"           		content="website" />
		<meta property="og:title"            	content="{{ this.page.title }}" />
		<meta property="og:description"   		content="cloud solutions made easy" />
		<meta property="og:image"         		content="{{'assets/images/theme-preview.png'|theme}}" />
		<link rel="apple-touch-icon" 			sizes="180x180" href="{{'assets/ico/apple-touch-icon.png'|theme}}">
		<link rel="icon" type="image/png" 		sizes="32x32" href="{{'assets/ico/favicon-32x32.png'|theme}}">
		<link rel="icon" type="image/png" 		sizes="16x16" href="{{'assets/ico/favicon-16x16.png'|theme}}">
		<link rel="manifest" 					href="{{'assets/ico/site.webmanifest'|theme}}">
		<link rel="mask-icon" 					href="{{'assets/ico/safari-pinned-tab.svg'|theme}}" color="#5bbad5">
		<meta name="msapplication-TileColor" 	content="#da532c">
		<meta name="theme-color" 				content="#ffffff">	
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

		<!-- Styles -->
		<!-- include the site stylesheet -->
		<link href="{{ [
			'assets/css/bootstrap.css',
			'assets/css/main.css',
			] | theme }}" rel="stylesheet"> 
		{% styles %}

		<script src="{{ [
			'assets/js/jquery-3.2.1.min.js',
			'assets/js/bootstrap.bundle.min.js',
			'assets/js/jquery.main.js',
			'assets/js/framework.js',
			'assets/js/framework.extras.js'
		]|theme }}" defer></script>

		<style>
			html, body {
				background-color: #000;
				color: #white;
				font-family: 'Raleway', sans-serif;
				font-weight: 100;
				height: 100vh;
				margin: 0;
			}
			.logo {
				width: 50vw;
			}
			.full-height {
				height: 100vh;
			}

			.flex-center {
				align-items: center;
				display: flex;
				justify-content: center;
			}

			.position-ref {
				position: relative;
			}

			.top-right {
				position: absolute;
				right: 10px;
				top: 18px;
			}
			.top-left {
				position: absolute;
				left: 10px;
				top: 18px;
			}

			.content {
				text-align: center;
			}

			.title {
				font-size: 84px;
			}

			.links > a {
				color: #636b6f;
				padding: 0 25px;
				font-size: 12px;
				font-weight: 600;
				letter-spacing: .1rem;
				text-decoration: none;
				text-transform: uppercase;
			}

			.m-b-md {
				margin-bottom: 30px;
			}
			table {  
				color: #333;
				font-family: Helvetica, Arial, sans-serif;
				width: 640px; 
				border-collapse: 
				collapse; border-spacing: 0; 
				border: 2px solid white; 
				border-radius: 24px;
				
			}
			
			td, th {  
				border: 1px solid transparent; /* No more visible border */
				height: 30px; 
				transition: all 0.3s;  /* Simple transition for hover effect */
			}
			
			th {  
				background: #DFDFDF;  /* Darken header a bit */
				font-weight: bold;
			}
			
			td {  
				background: #FAFAFA;
				text-align: left;
				padding: 10px;
			}
			.link
			{
				color: #333;
				font-family: Helvetica, Arial, sans-serif;
				cursor: pointer;
			}
			#header {
				position: fixed;
				top: 0;
				line-height: 60px;
			}

			.footer {
				position: fixed;
				bottom: 0;
				width: 100%;
				height: 90px;
				line-height: 1.4;
			}
			.footer a{
				color: white;
			}

		</style>
		<!-- include JavaScript for Font Awesome -->
		<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" defer></script>

	</head>
	<body>
		<header class="container" id="header">	
			<div class="row justify-content-center">
				<div class="col col-6">
					<img src="{{ 'assets/images/logo-low.png' |theme }}" id="logo" class="img-fluid" alt="Codestackers" >
				</div>
			</div>
		</header>
		<div class="flex-center position-ref full-height">
			<div class="content">
				<div class="title m-b-md">
        			{% component 'staticPage' %}		
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<span class="row no-text-muted">
					<div class="col">
						Overschiestraat 180, 1062 XK Amsterdam <br>
						<a href="mailto:info@codestackers.io">info@codestackers.io</a>
					</div>			
				</span>
				<span class="row no-text-muted float-right">
					<div class="col">
						<ul class="social-networks list-inline">
							<li class="list-inline-item">
								<a href="https://twitter.com/codestackers" target="_blank" rel="noopener noreferrer">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/codestackers.io/" target="_blank" rel="noopener noreferrer">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.youtube.com/channel/codestackers" target="_blank" rel="noopener noreferrer">
									<i class="fab fa-youtube"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.facebook.com/pg/Codestackers-561276057590846" target="_blank" rel="noopener noreferrer">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="list-inline-item">
									<a href="https://www.linkedin.com/company/codestackers/" target="_blank" rel="noopener noreferrer">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
						</ul>
					</div>

				</span>
			</div>
		</footer>
		
		{% scripts %}		
	</body>
</html>