description = "Default layout with footer & header"

[staticPage]
useContent = 0
default = 0

[seoTags]

[account]
paramCode = "code"
forceSecure = 0

[session]
security = "all"
redirect = "user-logout"

[staticMenu]
==
<!DOCTYPE html>
<html>

<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% component 'seoTags' %}
    {% component 'session' %}
    
	<link href="{{ 'assets/dist/css/app.css'| theme }}" rel="stylesheet"> 		
	<link href="{{ 'assets/css/framework.extras.css'| theme }}" rel="stylesheet"> 		
	{% styles %}

	<script>
		var debug = {{ config_get('app.debug') | default(0) }};
	</script>

	<script src="{{ [
		'assets/dist/jquery/jquery.min.js',
		'assets/dist/bootstrap/js/bootstrap.min.js',
		'assets/js/framework.js',
		'assets/js/framework.extras.js',
		'assets/js/mdb.min.js',
		'assets/js/app.js',
		] | theme }}" sync>
	</script>
	{% scripts %}

</head>

<body id="page-top" class="fixed-sn ac-skin pt-5">
	{% partial 'nav' %}
    {% page %}
    <!-- Repeater -->
    {repeater name="sections" groups="~/themes/default/meta/blocks.yaml" tab="Blocks"}
        {variable name="_dummy" type="text"}{/variable}
    {/repeater}

    <!-- Render blocks -->
    {% for section in sections %}
        {% partial 'blocks/' ~ section._group data=section %}
    {% endfor %}

	{% partial 'footer' %}
	

</body>
</html>